<!DOCTYPE html>
<html lang="en">
<head>
    <!--head/partial-->
    <%- include('../partials/head') %>
    <!--fin head/partial-->
    <link rel="stylesheet" href="/stylesheets/listingPages.css">
</head>
<body>
    <div class="central_container">
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial-->

        <!-- Barra de busqueda courses -->
        <div class="search_container">
          <form action="/courses/search" method="GET">
            <label for="products_search"></label>
            <input type="search" id="products_search" name="search" placeholder="Busqueda de Cursos">
            <button type="submit" value="Buscar" class="button_search">Buscar</button>
          </form>
        </div>
        <!--Inicio de courses-->
        <main class="product_detail_description">
            <% courses.forEach(course => { %>
                <article class="product">
                    <div class="product_img_container">
                        <a>
                            <img src="/images/courses/<%= course.image %>"  alt="<%= course.name %>" class = "course_img">
                        </a>
                    </div>
                    <div class="product_description">
                        <h2><%= course.name %></h2>
                        <% if (course.discount !== 0) { %>
                            <p><%= course.discount %>  % OFF</p>
                        <% } %> 
                        <p>$ <%= toThousand(course.price - (course.price * course.discount / 100)) %></p>
                    </div>
                    <a href="/courses/coursesDetail/<%= course.id %>" class="see_more"><b>VER MÁS</b></a>                
                </article>
            <% }) %>
        </main>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->
    </div>
    <script src="./javascripts/slider.js"></script>
</body>
</html>