<!DOCTYPE html>
<html lang="en">
<head>
    <!--head/partial-->
    <%- include('../partials/head') %>
    <!--fin head/partial-->
    <link rel="stylesheet" href="/stylesheets/listing_pages.css">
</head>
<body>
    <div class="central_container">
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial-->

        <!-- Barra de busqueda courses -->
        <div class="search_container">
          <form action="">
            <label for="products_search"></label>
            <input type="search" id="products_search" name="products_search" placeholder="Busqueda de Cursos">
            <button type="submit" value="Buscar">Buscar</button>
          </form>
        </div>
        <!--Inicio de courses-->
        <main class="product_detail_description">
            <% courses.forEach(course => { %>
                <section class="item_container">
                    <article class="product">
                        <img src= /images/courses<%= course.image %>  alt="<%= course.name %> ">
                        </a>
                        <div class="product_description">
                            <h2><%= course.name %></h2>
                            <span><%= course.discount %>  % OFF</span>
                            <p>$ <%= toThousand(course.price - (course.price * course.discount / 100)) %> </p>
                        </div>
                        <a href="/courses/coursesDetail/<%= course.id %>" class="see_more"><b>VER MÁS</b></a>                
                      </article>
                </section>
            <% }) %>
        </main>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->
    </div>
    <script src="./javascripts/slider.js"></script>
</body>
</html>