<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Editar producto |Digital Drinks</title>
    <link rel="stylesheet" href="/stylesheets/styleCreateEdit.css" >
    <!-- href="/styles/style_reg.css"> -->
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <meta name="description" content="cocktails, drinks, bar tools, herramientas de barra, cocteleras, cocktails recepies, recetas de cocteles, cursos de cocteleria">
</head>
<body>
    <!-- Aca va el Header -->
    <div class="reg-box">
        
        <a href="/products/"> <img src="/images/header/logoAzul.svg" alt=""> </a>
   
       

        <h2> Edita tu producto</h2>
        <form action="/products/edit/<%= productDetail.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="reg-fill">  

                <label for="name">Nombre del Producto</label>
                <input type="text" name="name" value="<%= productDetail.name %> ">

                <label for="price" >Precio del producto:</label>
                <input type="text" id="price" name="price" value="<%= productDetail.price %> ">

                <label for="discount">Descuento:</label>
                <input type="text" id="discount" name="discount" value="<%= productDetail.discount %> ">

                <label for="description" class="">Descripción:</label>
                <textarea name="description" id="description" class="form-input"> <%= productDetail.description %> </textarea>
                <br>
                <label for="category_id"> Categoria </label>
                    <select name="category_id">
                        <% categories.forEach(category => { %>
                        <% if (productDetail.CategoryId === category.id) { %>          
                            <option value="<%= category.id %>" selected> <%= category.name %> </option>
                        <% } else { %>
                            <option value="<%= category.id %>"> <%= category.name %> </option>
                        <% }}) %>
                    </select>
                
                <label for="imagen" class="">Agregar imagen:</label>
                <div class="foto"> <img class="img" src="/images/products/<%= productDetail.image %>" alt="<%= productDetail.name %>"></div> 
                <input type="file" name="image" value="<%= productDetail.image %> ">
                <br>

                <button type="submit">Guardar Producto</button>
        </div>
    </form>
    </div>


<!-- Aca va el Footer -->
    
</body>
</html>