<!DOCTYPE html>
<html lang="en">
    <!--head/partial-->
    <%- include('../partials/head') %>
    <!--fin head/partial-->
<body>
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial--> 
    <div class="detail_container">
            <img src="/images/recipes/<%= recipeDetail.image %>" alt="<%= recipeDetail.name %>" >
        <div class="detail_description">
            <div class="detail_name">
                <h3><%= recipeDetail.name %> </h3>
            </div>
            <div class="recipe_description">
                <h4>Ingredientes:</h4>
                <p><%= recipeDetail.ingredients %></p>
                <h4>Metodo de preparación:</h4>
                <p><%= recipeDetail.method %></p>
                <h4>Decoración:</h4>
                <p><%= recipeDetail.garnish %></p>
            </div>
            <div class="edition_button_recipes">
                <a href="recipes-edit-form.ejs"> Editar Receta</a>
                <form action="recipes-edit-form"<%= recipeDetail.id %>?_method="DELETE" method="POST">
                    <a href="/">Eliminar</a>
                </form>
            </div>
        </div>
    </div>
    <div>
    <div class="return_to_list">
        <a href="/recipes" >Todas nuestras recetas</a>
    </div>
        
    </div>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->        
</body>
</html>