<!DOCTYPE html>
<html lang="en">
    <!--head/partial-->
    <%- include('../partials/head') %>
    <!--fin head/partial-->
<body>
        <!--header/partial-->
        <%- include('../partials/header') %>
        <!--fin header/partial--> 
        <div class="product_detail_container">
                <img src="/images/products/<%= productDetail.image %> " alt="<%= productDetail.name %> ">
            <div class="detail_description">
                <div class="detail_name">
                    <h3><%= productDetail.name %></h3>
                </div>
                <div class="product_description"> 
                    <div class="prices">
                        <% if(productDetail.discount !== 0) { %>
                            <h2>Precio: $<%= toThousand(productDetail.price - (productDetail.price * productDetail.discount / 100)) %> </h2> 
                            <h4 class="discount"><%= productDetail.discount %> % OFF</h4>             
                        <% } else{  %> 
                            <h2> Precio: $<%= toThousand(productDetail.price) %> </h2>
                        <% } %> 
                    </div>
                    <h3>Descripcion: </h3>
                    <p><%= productDetail.description %> </p>
                </div>
                <form action="/" method="POST" class="product_quantity">
                    <label for="unidades">Cantidad   </label>
                    <input type="unidades" placeholder="Cuantos queres ?">
                    <a href="/">Agregar al carrito</a>
                </form>
                <div class="products_detail_buttons">
                    <a href="/">Editar producto</a>
                    <a href="/">Eliminar</a>
                </div>
            </div>  
        </div>
        <div class="return_to_list">
            <a href="/products" >Todos nuestros productos</a>
        </div>    
        <!--footer/partial-->
        <%- include('../partials/footer') %>
        <!--final footer/partial-->
        <script src="./javascripts/slider.js"></script>       
    </body>
</html>